body{
    background-image: url('../assets/background.jpg');
    background-size: cover;
    padding-top: 80px;
    padding-right: 80px;
    padding-bottom: 50px;
    padding-left: 80px;
    background-position: center center; 
}

h1{
    color: #fff;
    font-size: 50px;
    letter-spacing: 2px;
    margin-bottom: 30px;
    text-align: center;
}

h6{
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-align: center;    
}

p{
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-align: center;    
    border-radius: 25px;
    border: 2px solid rgb(172, 232, 250);
    background: rgb(39, 12, 110);
}